<html lagn="ko" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<body>
<!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->

<div layout:fragment="content" class="container my-3 mt-10">
    <div class="mb-7 text-center">
        <h5 class="text-secondary">Account Settings</h5>
        <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Account</h3>
        <hr>
    </div>

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Activity</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/account}">
                            <i class="bx bx-user me-1"></i>Account</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " th:href="@{/user/password}">
                            <i class="bx bx-bell me-1"></i> Password</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/user/activity}">
                            <i class="bx bx-link-alt me-1"></i> Activity</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <h5 class="mb-5 card-header">Account Activity</h5>
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-post" type="button" role="tab" aria-controls="v-pills-post"
                        aria-selected="true">Post
                </button>
                <button class="nav-link" id="v-pills-reply-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-reply" type="button" role="tab" aria-controls="v-pills-reply"
                        aria-selected="false">Reply
                </button>
                <button class="nav-link" id="v-pills-replyonpost-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-replyonpost" type="button" role="tab"
                        aria-controls="v-pills-replyonpost"
                        aria-selected="false">Reply on Post
                </button>
                <button class="nav-link" id="v-pills-like-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-like" type="button" role="tab" aria-controls="v-pills-like"
                        aria-selected="false">Like
                </button>
                <button class="nav-link" id="v-pills-question-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-question" type="button" role="tab" aria-controls="v-pills-question"
                        aria-selected="false">Question
                </button>
            </div>

            <!--            Post 시작-->
            <div class="tab-content" id="v-pills-tabContent" style="width: 100%">
                <div class="tab-pane fade show active" id="v-pills-post" role="tabpanel"
                     aria-labelledby="v-pills-post-tab" tabindex="0">

                    <!-- 작성글 갯수 표시 -->
                    <h5 class="border-bottom my-3 py-2"
                        th:text="|${#lists.size(travel)}개의 게시글이 있습니다.|"></h5>

                    <!--테이블 시작-->
                    <table class="table">
                        <thead class="table-warning">
                        <tr class="text-center">
                            <th>No</th>
                            <th style="width:50%">Subject</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody class="text-center" th:each="travel : ${travel}">
                        <tr>
                            <td th:text="${travel.id}"></td>
                            <td><a th:href="@{|/travel/detail/${travel.id}|}" th:text="${travel.subject}"/></td>
                            <td th:text="${#temporals.format(travel.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${travel.viewcnt}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--테이블 끝-->

                    <!-- 페이징처리 시작 -->
                    <div th:if="${!travel.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!travel.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${travel.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, travel.totalPages-1)}"
                                th:if="${page >= travel.number-5 and page <= travel.number+5}"
                                th:classappend="${page == travel.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!travel.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${travel.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->

                </div>
                <!--                Post 끝-->

                <!--                Reply 시작-->
                <div class="tab-pane fade" id="v-pills-reply" role="tabpanel" aria-labelledby="v-pills-reply-tab"
                     tabindex="0">

                    <!-- 댓글 갯수 표시 -->
                    <div>
                        <h5 class="border-bottom my-3 py-2"
                            th:text="|${#lists.size(reply)}개의 댓글이 있습니다.|">

                        </h5>

                    </div>

                    <form id="deleteForm" method="POST">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                        <div> <a href='javascript:boardDelete();' class="btn btn-primary mb-3">삭제하기</a></div>

                    <!--테이블 시작-->
                    <table class="table">
                        <thead class="table-warning">
                        <tr class="text-center">
                            <th style="width:10%"><label class="checkbox-inline">
                                <input type="checkbox" id="allCheckBox" onclick="allChecked()">
                            </label></th>
                            <th>No</th>
                            <th style="width:50%">Subject</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="reply : ${reply}">
                            <td><label class="checkbox-inline">
                                <input type="checkbox" name="chk" class="chk" onclick="chkClicked()" th:value="${reply.id}">
                            </label></td>
                            <td th:text="${reply.id}"></td>
                            <td th:text="${reply.content}"></td>
                            <td th:text="${#temporals.format(reply.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--테이블 끝-->

                    <!-- 페이징처리 시작 -->
                    <div th:if="${!reply.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!reply.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${reply.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, reply.totalPages-1)}"
                                th:if="${page >= reply.number-5 and page <= reply.number+5}"
                                th:classappend="${page == reply.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!reply.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${reply.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->
                    </form>
                </div>
                <!--                Reply 끝-->

                <!--                Reply on Post 시작-->
                <div class="tab-pane fade" id="v-pills-replyonpost" role="tabpanel"
                     aria-labelledby="v-pills-replyonpost-tab"
                     tabindex="0">

                    <!--테이블 시작-->
                    <table class="table">
                        <thead class="table-warning">
                        <tr class="text-center">
                            <th>No</th>
                            <th style="width:50%">Subject</th>
                            <th>Id</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="replyonpost : ${replyonpost}">
                            <td th:text="${replyonpost.id}"></td>
                            <td><a th:href="@{|/travel/detail/${replyonpost.id}|}" th:text="${replyonpost.subject}"></a>
                            </td>
                            <td th:text="${replyonpost.author.username}"></td>
                            <td th:text="${#temporals.format(replyonpost.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${replyonpost.viewcnt}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--테이블 끝-->

                    <!-- 페이징처리 시작 -->
<!--                    <div th:if="${!replyonpost.isEmpty()}">-->
<!--                        <ul class="pagination justify-content-center">-->
<!--                            <li class="page-item" th:classappend="${!replyonpost.hasPrevious} ? 'disabled'">-->
<!--                                <a class="page-link"-->
<!--                                   th:href="@{|?page=${replyonpost.number-1}|}">-->
<!--                                    <span>이전</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                            <li th:each="page: ${#numbers.sequence(0, replyonpost.totalPages-1)}"-->
<!--                                th:if="${page >= replyonpost.number-5 and page <= replyonpost.number+5}"-->
<!--                                th:classappend="${page == replyonpost.number} ? 'active'"-->
<!--                                class="page-item">-->
<!--                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>-->
<!--                            </li>-->
<!--                            <li class="page-item" th:classappend="${!replyonpost.hasNext} ? 'disabled'">-->
<!--                                <a class="page-link" th:href="@{|?page=${replyonpost.number+1}|}">-->
<!--                                    <span>다음</span>-->
<!--                                </a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
                    <!-- 페이징처리 끝 -->

                </div>
                <!--                Reply on Post 끝-->

                <!--                Like 시작-->
                <div class="tab-pane fade" id="v-pills-like" role="tabpanel" aria-labelledby="v-pills-like-tab"
                     tabindex="0">
                    <!--테이블 시작-->
                    <table class="table">
                        <thead class="table-warning">
                        <tr class="text-center">
                            <th>No</th>
                            <th style="width:50%">Subject</th>
                            <th>Id</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                                                <tr th:each="like : ${like}">
                                                    <td th:text="${like.id}"></td>
                                                    <td><a th:href="@{|/travel/detail/${like.id}|}" th:text="${like.subject}"></a></td>
                                                    <td th:text="${like.author.username}"></td>
                                                    <td th:text="${#temporals.format(like.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                                                    <td th:text="${like.viewcnt}"></td>
                                                </tr>
                        </tbody>
                    </table>
                    <!--테이블 끝-->

                    <!-- 페이징처리 시작 -->
                    <div th:if="${!like.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!like.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${like.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, like.totalPages-1)}"
                                th:if="${page >= like.number-5 and page <= like.number+5}"
                                th:classappend="${page == like.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!like.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${like.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->

                </div>
                <!--                Like 끝-->

                <!--                Question 시작-->
                <div class="tab-pane fade" id="v-pills-question" role="tabpanel" aria-labelledby="v-pills-question-tab"
                     tabindex="0">

                    <h5 class="border-bottom my-3 py-2"
                        th:text="|${#lists.size(question)}개의 게시글이 있습니다.|"></h5>


                    <!--테이블 시작-->
                    <table class="table">
                        <thead class="table-warning">
                        <tr class="text-center">
                            <th>No</th>
                            <th style="width:50%">Subject</th>
                            <th>Date</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="question : ${question}">
                            <td th:text="${question.id}"></td>
                            <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"/></td>
                            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
                            <td th:text="${question.viewcnt}"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--테이블 끝-->

                    <!-- 페이징처리 시작 -->
                    <div th:if="${!question.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!question.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${question.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, question.totalPages-1)}"
                                th:if="${page >= question.number-5 and page <= question.number+5}"
                                th:classappend="${page == question.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!question.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${question.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 페이징처리 끝 -->

                </div>
                <!--                Question 끝-->

            </div>
        </div>
    </div>

</div>
</body>

<script layout:fragment="script" type='text/javascript'>
    //체크박스 전체 선택 클릭 이벤트
    function allChecked(target) {

//전체 체크박스 버튼
        const checkbox = document.getElementById('allCheckBox');

//전체 체크박스 버튼 체크 여부
        const is_checked = checkbox.checked;

//전체 체크박스 제외한 모든 체크박스
        if (is_checked) {
//체크박스 전체 체크
            chkAllChecked()
        } else {
//체크박스 전체 해제
            chkAllUnChecked()
        }
    }

    //자식 체크박스 클릭 이벤트
    function chkClicked() {

//체크박스 전체개수
        const allCount = document.querySelectorAll(".chk").length;

//체크된 체크박스 전체개수
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)
        const selectedElementsCnt = selectedElements.length;

//체크박스 전체개수와 체크된 체크박스 전체개수가 같으면 전체 체크박스 체크
        if (allCount == selectedElementsCnt) {
            document.getElementById('allCheckBox').checked = true;
        }

//같지않으면 전체 체크박스 해제
        else {
            document.getElementById('allCheckBox').checked = false;
        }
    }

    //체크박스 전체 체크
    function chkAllChecked() {
        document.querySelectorAll(".chk").forEach(function (v, i) {
            v.checked = true;
        });
    }

    //체크박스 전체 체크 해제
    function chkAllUnChecked() {
        document.querySelectorAll(".chk").forEach(function (v, i) {
            v.checked = false;
        });
    }

    //글삭제
    function boardDelete() {
//체크박스 체크된 항목
        const query = 'input[name="chk"]:checked'
        const selectedElements = document.querySelectorAll(query)

//체크박스 체크된 항목의 개수
        const selectedElementsCnt = selectedElements.length;

        if (selectedElementsCnt == 0) {
            alert("삭제할 항목을 선택해주세요.");
            return false;
        } else {
            if (confirm("정말로 삭제하시겠습니까?")) {

//배열생성
                const arr = new Array(selectedElementsCnt);

                document.querySelectorAll('input[name="chk"]:checked').forEach(function (v, i) {
                    arr[i] = v.value;
                });

                const form = document.createElement('form');
                const form1 = document.getElementById('deleteForm');
                form1.setAttribute('action', '/user/delete');

                var input1 = document.createElement('input');
                input1.setAttribute("type", "hidden");
                input1.setAttribute("name", "replyIds");
                input1.setAttribute("value", arr);
                form1.appendChild(input1);
                console.log(form1);
                document.body.appendChild(form1);
                form1.submit();
                document.getElementById("deleteForm").submit();
            }
        }
    }
</script>
</html>

