<html lang="ko" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<div th:fragment="fragment-calender">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="/calendar-18/fonts/icomoon/style.css">

        <link rel="stylesheet" href="/calendar-18/css/rome.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Bootstrap CSS -->
        <!--        <link rel="stylesheet" href="/calendar-18/css/bootstrap.min.css">-->

        <!-- Style -->
        <!--        <link rel="stylesheet" href="/calendar-18/css/style.css">-->

        <title>Calendar</title>

        <meta name="_csrf" th:content="${_csrf?.token}" th:if="${_csrf} ne null">
        <meta name="_csrf_header" th:content="${_csrf?.headerName}" th:if="${_csrf} ne null">

    </head>

    <body>

    <div class="content">
        <form>
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-md-10">


                        <h5 class="mb-5 text-left">Subject</h5>
                        <div class="mb-5 d-flex">
                            <input type="text" class="form-control" id="subject"/>
                        </div>


                        <h5 class="mb-5 text-left">Category</h5>
                        <div class="mb-5 d-flex">
                            <select class="form-control" th:name="selectedOption">
                                <option th:each="option : ${options}" th:value="${option}" th:text="${option}"
                                        id="category"></option>
                            </select>
                        </div>


                        <h5 class="mb-4 text-left">Calendar</h5>
                        <div class="d-flex">
                            <input type="text" class="form-control m-2  mb-3" placeholder="Travel Start"
                                   disabled="" id="travelStart">
                            <input type="text" class="form-control m-2  mb-3" placeholder="Travel End"
                                   disabled="" id="travelEnd">
                        </div>
                        <form action="#" class="row">
                            <div class="col-lg-6 mb-4">
                                <div id="inline_cal_from"></div>
                            </div>
                            <div class="col-lg-6 mb-5">
                                <div id="inline_cal_to"></div>
                            </div>
                        </form>


                        <!--                    Thumbnail 시작-->
                        <h5 class="mb-5 text-left">Thumbnail</h5>
                        <div class="mb-5 d-flex">
                            <input type="text" class="form-control"/>
                        </div>
                        <!--                    Thumbnail 끝-->

                    </div>
                </div>

            </div>
        </form>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
    </div>

    <script src="/calendar-18/js/jquery-3.3.1.min.js"></script>
    <script src="/calendar-18/js/popper.min.js"></script>
    <script src="/calendar-18/js/bootstrap.min.js"></script>
    <script src="/calendar-18/js/rome.js"></script>

    <script src="/calendar-18/js/main.js"></script>
    </body>
</div>

<script layout:fragment="script" type='text/javascript'>
    $(document).ready(function () {
        $('#saveBtn').click(function () {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var subject = $('#subject').val(); // 모달 창의 subject 입력 값을 가져옵니다.
            $('#exampleModal').modal('hide'); // 모달 창을 닫습니다.


            console.log(subject);

            // 페이지로 값을 전달합니다.
            $.ajax({
                url: '/travel/saveValue',
                type: 'POST',
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                data: {subject: subject},
                success: function (response) {
                    // 성공적으로 전송되었을 때 처리할 코드
                    window.location.href = '/travel/create';
                },
                error: function () {
                    alert('Error');
                }
            });
        });
    });
</script>
</html>

