<html xmlns:th="http://thymeleaf.org">
<section class="pt-5" id="destination">

    <div class="container">
        <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img
                src="/assets/img/dest/shape.svg" alt="destination"/></div>
        <div class="mb-7 text-center">
            <h5 class="text-secondary">Top Travel </h5>
            <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Top Postings</h3>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4" th:each="travel, loop : ${destination}">

                <div class="card overflow-hidden shadow">

                    <img style="height: 50vh; object-fit: cover" th:if="${travel.savedNm} == null" src="/images/NoPhoto.jpg"/>
                    <img style="height: 50vh; object-fit: cover" th:if="${travel.savedNm} != null" class="card-img-top" th:src="|/img/${travel.savedNm}|"/>

                    <div class="card-body py-4 px-3">

                        <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">

                            <h4 class="text-secondary fw-medium">
                                <a class="link-900 text-decoration-none stretched-link"
                                   th:href="@{|/travel/detail/${travel.id}|}"
                                   th:text="${travel.subject}"></a>
                                <span style="margin-left: 5px" class="badge bg-warning"> Hot 🧡</span>
                            </h4>

                            <span class="fs-1 fw-medium" th:text="|￦ ${travel.expenses}|"/>

                        </div>

                        <div class="d-flex align-items-center">

                            <img src="/assets/img/dest/navigation.svg"
                                 style="margin-right: 14px" width="20" alt="navigation"/>

                            <span class="fs-0 fw-medium"
                                  th:text="|${travel.travelStart}~${travel.travelEnd}|"/>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- end of .container-->

</section>
</html>